<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/adm.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <title>Sua Página</title>
    
</head>
<body>
    <div class="overlay"></div>
    <nav class="navbar">
        <ul>
            <li><a href="#" onclick="carregarUsuarios()">Usuarios</a></li>
            <li><a href="#">Cadastrar</a></li>
            <li><a href="#">Editar</a></li>
            <li><a href="#">Emergencias</a></li>
            <li><a href="#">Status</a></li>
            <li><a href="#">Logs</a></li>
            <li><a href="#">Sair</a></li>
        </ul>
    </nav>

    <!-- Conteúdo da página -->
    <div class="content">
        <div id="bem-vindo">
            <h1>bem-vindo</h1>
        </div>
        <!-- Div para exibir a lista de usuários -->
        <div id="lista-usuarios"></div>
    </div>

    
</body>
</html>
