<!-- edit20.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Item</title>
    <link rel="stylesheet" href="/static/styles/edit20.css">
</head>
<body>
    <div class="overlay"></div>
    <nav class="navbar">
        <ul>
            <li><a href="{{url_for('adm')}}">Usuarios</a></li>
            <li><a href="{{ url_for('cadastrar_itens') }}">Cadastrar</a></li>
            <li><a href="{{ url_for('editar_itens') }}">Editar</a></li>
            <li><a href="{{ url_for('emergencia_status') }}">Emergencias</a></li>
            
            <li><a href="{{url_for('status')}}">Status</a></li>
            
            <li><a href="{{ url_for('index') }}">Sair</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Editar Item</h2>
        <form action="{{ url_for('salvar_edicoes') }}" method="post">
            <label for="pi">PI:</label>
            <input type="text" id="pi" name="pi" value="{{ item['PI'] }}" >

            <label for="data">Data:</label>
            <input type="date" id="data" name="data" value="{{ item['Data'] }}" required>

            <label for="item">Item:</label>
            <input type="text" id="item" name="item" value="{{ item['Item'] }}" required>

            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" value="{{ item['Quantidade'] }}" required>
            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="Em espera" {% if item['Status'] == 'Em espera' %}selected{% endif %}>Em espera</option>
                <option value="Solda" {% if item['Status'] == 'Em solda' %}selected{% endif %}>Solda</option>
                <option value="Usinagem" {% if item['Status'] == 'Em usinagem' %}selected{% endif %}>Usinagem</option>
                <option value="Injeção" {% if item['Status'] == 'Em injeção' %}selected{% endif %}>Injeção</option>
                <option value="Revestimento" {% if item['Status'] == 'Em revestimento' %}selected{% endif %}>Revestimento</option>
                <option value="Acabamento" {% if item['Status'] == 'Em acabamento' %}selected{% endif %}>Acabamento</option>
                <option value="Pintura" {% if item['Status'] == 'Em pintura' %}selected{% endif %}>Pintura</option>
                <option value="Expedição" {% if item['Status'] == 'Em expedição' %}selected{% endif %}>Expedição</option>
            </select>
            

            <div class="emergency-checkbox">
                <input type="checkbox" id="emergencia" name="emergencia" {% if item['Urgencia'] %}checked{% endif %}>
                <label for="emergencia">Emergência</label>
            </div>

            <div class="excluir-checkbox">
                <input type="checkbox" id="excluir" name="excluir">
                <label for="excluir">Excluir PI</label>
            </div>

            <button type="submit">Salvar Edições</button>
        </form>
    </div>
</body>
</html>
