body {
    background-image: url('/static/imgs/plameras.png');
    background-size: cover; /* Isso garante que a imagem cubra todo o fundo */
    background-position: center; /* Isso centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Isso evita a repetição da imagem */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    /* Restante do seu estilo para o contêiner */
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
